p {
  font-size: 14px;
}

h1 {
  font-size: 14px;
  margin: 0px;
}

.content {
  background-color: #fff;
  border: 1px solid #d1d1d1;
  padding: 30px;
  width: 600px;

  margin: 10px auto;
}

input {
  border: none;
  border-bottom: 1px solid #d1d1d1;
  font-size:1.2em;
  width: 100%;
  padding: 8px;
}

button {
  width: 100%;
  background-color: #2096f3;
  color: #fff;
  padding: 15px;
  border: 0;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}

.required {
  color: #f33;
  font-size: .9em;
  padding: 3px;
  background-color: #fee;
  font-weight: bold;
}

body {
  background-color: #fafafa;
}

.control {
  margin-bottom: 3em;
}

label {
  display:block;
  margin-bottom: .5em;
}